// Fontes
$grot: 'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;

// Cores
$verde: #008375;
$verde-escuro: #005249;
$verde-claro: #5CD6C9;
$bege: #FFDAAD;
$azul-bebe: #A3DFF5;
$cinza1: #777;
$vermelho: #EB5757;
$laranja: #FFAE4D;
$preto: #000;

// Gradação de pretos (mixin)
@mixin bg-black-alpha($percentage) {
	background-color: rgba(0, 0, 0, $percentage);
}
@mixin color-black-alpha($percentage) {
	color: rgba(0, 0, 0, $percentage);
}

// Gradação de brancos (mixin)
@mixin bg-white-alpha($percentage) {
	background-color: rgba(255, 255, 255, $percentage);
}
@mixin color-white-alpha($percentage) {
	color: rgba(255, 255, 255, $percentage);
}

// Sombras
$s-2-4-48: 0 2px 4px rgba(0, 0, 0, .48);
$s-1-2-48: 0 1px 2px rgba(0, 0, 0, .48);
$s-4-8-24: 0 4px 8px rgba(0, 0, 0, .24);

// Bordas
$lightborder: #DDD;

// Breakpoints
$desktop: 1200px;
$tablet: 800px;
$phone: 400px;